* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    background-image:url(images/bg-drink.jpg);
    background-repeat: no-repeat;
}


.manual {
    width: 100%;
    display: flex;
    gap: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
}
.manual h1 {
    font-size: 5rem;
    font-weight: 700;
}